<style>
    .nav-link.active{color:yellow !important;}
    
    </style>
    
    
    <!-- -------------Navbar section-------------------------- -->
    <ng-include src="'assets/pages/navbar.html'" class="login"></ng-include>
    
    <!-- ----------------------------------------------------- -->
    
    <!-- ------------Login Loader------------------------ -->
    <section class="banner-area relative main-seaction" id="home">
        <div class="overlay overlay-bg"></div>
        <div id="page-loading" ng-show="loading" class="ng-hide">
            <div class="loader">
                <img src="assets/img/giphy.gif" width="100" height="100" style="padding: 0">
            </div>
        </div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-7 col-md-6 col-sm-12 ">
                    <h6 class="text-white ">the Royal Essence of Journey</h6>
                    <h1 class="text-white text-uppercase">
                        Relaxed Journey Ever
                    </h1>
                    <p class="pt-20 pb-20 text-white">
                     RV cabs will provide you the best way to travel to your destination whether its city taxi, outstation trips or a car rental.
                    </p>
                </div>
                <div class="col-lg-5  col-md-6 col-sm-12 header-right">
                    <h3 class="text-white text-center pb-10">Forgot Password</h3>
                    <h6 class="text-warning text-center pb-30">Reset Your Password</h6>
                    <form autocomplete="off">
                        <div class="from-group">
                            <input class="form-control txt-field" ng-model="userName" type="tel" name="tel" placeholder="Mobile  Number">
                            
                        </div>
                        <div ng-show ="showOTP">
                            <div class="form-group" >
                               <input type="password" class="form-control txt-field"  ng-model = "OTP" placeholder="Enter OTP"  autocomplete="off" required>
                               
                            </div>
                            <div class="form-group">
                               <input  id="password-field1" type="password" class="form-control txt-field"  ng-model = "Pwd" autocomplete="off" name="userPassword" data-placement="bottom"  data-ng-change="checkPasswordCriteria(Pwd)" placeholder="Enter New Password" required="required" maxlength="20"/>
                               <span class="bar"></span>
                               <span toggle="#login-password" class="fa fa-fw fa-eye field-icon toggle-password pull-right" onclick="myFunction1()" style="position: relative;right:3px;bottom: 38px;"></span>
                            </div>
                            <!-- <div class="col-sm-12 padding-0">
                                   <div class="panel panel-default" data-uib-collapse ="isCollapsed" style="padding: 0px; border-radius: 0px; background-color:#fff;">
                                           <p class="" style= "margin: 0px !important; color:#555; text-align:center;"><b>Your password must:</b></p>
                                           <div class="list-group" style = "padding:5px; height:125px;">
                                               <a data-ng-diabled="true" class="list-group-item" style="padding: 0px; height:26px;">
                                                   <span data-ng-class="passwordLengthClass" class="password-glyphicon"></span>
                                                   <span class="ErrMsg" style = "color:#555; padding:35px;"> contains {{minimumPasswordLength}} or more characters</span>
                                               </a>
                                               <a class="list-group-item" style="padding: 0px;">
                                                   <span data-ng-class="caseClass" class="password-glyphicon"></span>
                                                   <span class="ErrMsg" style = "color:#555;"> contains atleast one upper case and lower case alphabet</span>
                                               </a>
                                               <a class="list-group-item" style="padding: 0px; height:25px;">
                                                   <span data-ng-class="numberClass" class="password-glyphicon"></span>
                                                   <span class="ErrMsg" style = "color:#555; padding-right:75px;"> contains at least one number</span>
                                               </a>
                                               <a class="list-group-item" style="padding: 0px; height:25px;">
                                                   <span data-ng-class="specialClass" class="password-glyphicon"></span>
                                                   <span class="ErrMsg" style = "color:#555; padding-right:16px;"> contains at least one special Character</span>
                                               </a>
                                           </div>
                                          <div class="row">
                                               <div class="col-sm-12">
                                                   <p class="text-muted">Strength: </p>
                                                   <data-uib-progressbar class="progress-striped" max="99" value="progress" type="{{strengthType}}" title="{{passwordStrength}}">
                                                   </data-uib-progressbar>
                                               </div>
                                           </div>
                                   </div>
                             </div> -->
                             <div class="clearfix"></div>
                            <div class="form-group form-animate-text">
                               <input type="password" id="password-field" class="form-control txt-field"  ng-model = "CPwd" autocomplete="off" data-ng-change="confirmEnteredPassword(CPwd)" placeholder="ReEnter Password" required="required" maxlength="20"/>
                               <span class="bar" ></span>
                               <span toggle="#login-password" class="fa fa-fw fa-eye field-icon toggle-password  pull-right" onclick="myFunction()" style="position: relative;right: 3px;bottom: 38px;"></span>
                               <div class="alert alert-danger" role="alert" data-ng-if="confirmedPasswordMatchError" style="padding:0px; margin-bottom: 0px;">
                                   <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                   <span class="sr-only">Error:</span> Passwords did not matched.
                               </div>
                               <div class="clearfix"></div>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block"  ng-click="ResetPassword(OTP,Pwd,CPwd)">Reset Password</button>
                            </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-default btn-lg btn-block text-center text-uppercase" ng-show="!showOTP" ng-click="sendOtp(userName)" ng-disabled="!userName ">Send OTP</button>
                            </div>
                        </div>
                        <h6 class="pb-10"><a class="text-warning" href="#">  <i class="fa fa-arrow-left " aria-hidden="true"></i> Login </a></h6>
                        <!-- <h6 class="pb-10"><a class="text-warning" href="#">  Resend OTP </a></h6> -->
                        <div class="col-md-12">
                            <div id="some_div" class="text-danger" style="font-weight: 600;">
                            </div>
                            <div class="row">
                                <h6 class="text-white">Didn't Receive OTP ?? &nbsp;&nbsp;&nbsp;</h6>
                            <a ng-click="resendOtp(userName)" id="demoText" class="text-warning" style="font-weight: 600;margin-top:-4px;"></a>
                            </div>
                            
                        </div>                         
                    </form>
                </div>
            </div>
        </div>
    </section>
    <ng-include src="'assets/pages/footer.html'"></ng-include>
    
    <!-- End banner Area -->
    <script>
    // View password eye icon in password field
        $(".toggle-password").click(function() {
    
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
            input.attr("type", "text");
            } else {
            input.attr("type", "password");
            }
        });

  function myFunction() {
  var x = document.getElementById("password-field");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
function myFunction1() {
  var x = document.getElementById("password-field1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
      
    </script>