<link rel="stylesheet" href="./assets/css/mainfilter.css">
<div id="page-loading" ng-show="loading" class="ng-hide">
    <div class="loader">
        <img src="assets/img/giphy.gif" width="100" height="100" style="padding: 0">
    </div>
</div>
<div class="wrapper">
<!-- Sidebar  -->
<ng-include src="'assets/pages/MysideBar.html'"></ng-include>
<!-- Page Content  -->
<div id="content">
    <ng-include src="'assets/pages/MynavBar.html'"></ng-include>
    <div class="container-fluid h-100 bg-white p-3" ng-hide="profileData.masterId == '1'">
        <div class="row h-100">
            <aside class="col-12 col-md-2 ml-2 mt-4 p-0 mr-2">
                    <nav class="navbar navbar-light navbar-expand flex-md-column flex-row align-items-start w-75" style="background-color:skyblue; color: red;">
                        <div class="collapse navbar-collapse">
                            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-start">
                                <li class="nav-item">
                                    <a class="nav-link tablinks " onclick="openProfile(event, 'dateRange')" id="defaultOpen">
                                        <i class="fa fa-user"></i> Date Range
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tablinks " onclick="openProfile(event, 'driverName')">
                                        <i class="fa fa-car"></i> Driver Name
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tablinks" onclick="openProfile(event, 'vehicleNumber')">
                                        <i class="fa fa-key"></i> Vehicle Number
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
            </aside>
            <main class="col">
                <div class="tabcontent" id="dateRange">
                        <center><h4 class="mt-2">Select Date Range</h4></center>
                        <hr>
                        <div class="row">
                            <div class="from-group  col-sm-5">
                                <lable for="">Select Start From Date</lable>
                                <my-datepicker ng-model="fromDate" myid="someid"></my-datepicker>
                            </div>
                            <div class="from-group  col-sm-5">
                                <lable for="">Select End To Date</lable>
                                <my-datepicker ng-model="endDate" myid="someid"></my-datepicker>
                            </div>
                        </div>
                </div>
                <div class="tabcontent" id="driverName">
                        <center><h4 class="mt-2">Driver Name</h4></center>
                        <hr>
                        <div class="form-group col-sm-6">
                            <label for="formControlDriverName">Driver Name</label>
                            <select class="form-control txt-field" id="formControlDriverName">
                                <option>Select</option>
                                <option>Cat A</option>
                                <option>Cat B</option>
                            </select>
                        </div>
                </div>
                <div class="tabcontent" id="vehicleNumber">
                        <center><h4 class="mt-2">Vehicle Number</h4></center>
                        <hr>
                        <div class="form-group col-sm-6">
                            <label for="formControlVehicleNumber">Vehicle Number</label>
                            <select class="form-control txt-field" id="formControlVehicleNumber">
                                <option>Select</option>
                                <option>Cat A</option>
                                <option>Cat B</option>
                            </select>
                        </div>
                </div>
            </main>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    function openProfile(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>