<link rel="stylesheet" href="./assets/css/mainwraper.css">
<div id="page-loading" ng-show="loading" class="ng-hide">
    <div class="loader">
        <img src="assets/img/giphy.gif" width="100" height="100" style="padding: 0">
    </div>
</div>

<div class="wrapper">
    <!-- Sidebar  -->
    <ng-include src="'assets/pages/MysideBar.html'"></ng-include>
    <!-- Page Content  -->
    <div id="content">
        <ng-include src="'assets/pages/MynavBar.html'"></ng-include>
        <div class="col-md-12 table-responsive header-board">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <img class="img" src="assets/img/dummy.png" alt="img">
                    </div>
                    <div class="col-md-10 element2">
                        <h4>Driver Details</h4>
                        <label><h6>Driver Name :</h6></label> 
                        <label>&nbsp;{{billsData.firstName}}{{}}</label><br>
                        <label><h6> Driver Mobile Number :</h6></label>
                        <label>&nbsp;{{}}</label><br>
                        <label><h6>Brand/modal :</h6></label>
                        <label>&nbsp;{{complteDetails.sysCarCategoryDto.name}}</label><br>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-10  col-sm-12 mb-2" style="text-align: right">
                        <button type="button" class="button-small" style="cursor: pointer" ng-click="addExpense()"><span class="myfont">Add Bill</span></button>
                        <button type="button" class="button-small" style="cursor: pointer" ng-click="maintenanceReport()"><span class="myfont">Back</span></button>         
                    </div>
                 </div>
            </div>
            <table id="reportTabel" class="row-border hover" style="width: 100%;margin-top: 20px;">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" onclick="checkAll(this)"></th>
                        <th scope="col">Date</th>
                        <th scope="col">Expenses Item</th>
                        <th scope="col">Expense Type</th>
                        <th scope="col">Meter Reading</th>
                        <th scope="col">Amount</th>
                        <th scope="col" ng-show="actionShow">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat = "data in approvedBillsData">
                        <td><input id="chkCustomer_{{fruit.FruitId}}" type="checkbox" ng-model="data.Selected" />
                        <td>{{data.entryDate}}</td>
                        <td>{{data.description}}</td>
                        <td>₹&nbsp;{{data.expenceType}}</td>
                        <td>{{data.odoMeterReading}}</td>
                        <td>₹&nbsp;{{data.totalAmount}}</td>
                        <td ng-show="actionShow">
                            <center>
                                <button class="btn ripple-infinite btn-round btn-secondary materialButtons" ng-hide="no_morerecord" ng-click="updateStatus('Approved',data)">Approved</button>
                                <button class="btn ripple-infinite btn-round btn-primary materialButtons" ng-hide="no_morerecord" ng-click="updateStatus('Rejected',data)">Rejected</button>
                             </center>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <button class="btn btn-success" ng-click="download()">Report</button>
                    <button class="btn btn-primary" ng-click = "generateInvoice()">Invoice</button>
                </div>
            </div>
        </div>
    </div>
</div>
