<link rel="stylesheet" href="./assets/css/star.css">
<link rel="stylesheet" href="./assets/css/mainwraper.css">
<div id="page-loading" ng-show="loading" class="ng-hide">
    <div class="loader">
        <img src="assets/img/giphy.gif" width="100" height="100" style="padding: 0">
    </div>
</div>
<div class="wrapper">
    <!-- Sidebar  -->
    <ng-include src="'assets/pages/MysideBar.html'"></ng-include>
    <!-- Page Content  -->
    <div id="content">
        <ng-include src="'assets/pages/MynavBar.html'"></ng-include>
        <!-- ---------------------------------------------------------------------- -->
        <div class="col-md-12 header-board">
            <div class="row">
                <div class="col-md-9">
                    <div class="col-md-10  col-sm-12 mb-2" style="text-align: left;position: relative;right: 14px;">
                        <button type="button" class="button-small st" style="cursor: pointer" id="upcomingList"><span
                                class="myfont">Upcoming Rides</span></button>
                        <button type="button" class="button-small st" ng-click="getFinishList()" style="cursor: pointer"
                            id="pastList"><span class="myfont">Past Rides</span></button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-10  col-sm-12 mb-2" style="text-align: right">
                        <button type="button" class="button-small" style="cursor: pointer" ng-click="addTrip()"><span
                                class="myfont">Add Trip</span></button>
                    </div>
                </div>
            </div>
            <!-- This table showing up comeing rides -->
            <table class="responsive" id=upCrides>
                <thead>
                    <tr>
                        <!-- <th scope="col">Driver</th> -->
                        <th scope="col">Traveller Name</th>
                        <th scope="col">Mobile Number</th>
                        <th scope="col">Pickup-Time </th>
                        <th scope="col">Pickup-Location</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in upcomingList">
                        <!-- <td></td> -->
                        <td>{{item.travellerName}}</td>
                        <td>{{item.travellerMobile}}</td>
                        <td>{{item.pickUpDate}},{{item.pickUpTime}}</td>
                        <td>{{item.pickUpLocation}}</td>
                        <td ng-if="item.status == 0">Driver Not Available</td>
                        <td ng-if="item.status == 1">Ride Expired</td>
                        <td ng-if="item.status == 2">Ride Assigned</td>
                        <td ng-if="item.status == 3">Ride Accepted</td>
                        <td ng-if="item.status == 4">Ride Started</td>
                        <td ng-if="item.status == 5">Ride Completed</td>
                        <td ng-if="item.status == 6">Declined</td>
                        <td ng-if="item.status == 7">Expired</td>
                        <!-- <td data-table-header="Car Brand/Model">{{record.carDetailDtos[0].type.name}}/{{record.carDetailDtos[0].subType.name}}</td> -->
                        <td data-table-header="Action">
                            <button class=" btn btn-default btn-round" ng-click="getDetails(item,2)" data-toggle="modal"
                                data-target="#exampleModal">View</button>
                            <button class=" btn btn-success btn-round" ng-click="getDetails(item,2)" data-toggle="modal"
                                data-target="#exampleModal">Accept</button>
                            <button class=" btn btn-primary btn-round"
                                ng-disabled="item.status !='0' && item.status !='1' && item.status !='3' "
                                ng-click="getDetails(item,2)" data-toggle="modal"
                                data-target="#exampleModal1">Reassign</button>
                        </td>
                    </tr>
                    <tr ng-show="NoDriverList">
                        <td colspan="5">
                            <center><img class="imgIco" src="assets/img/fuel.png" />
                                <h3>No member available to approve</h3>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- This table showing completed rides -->
            <table class="responsive" id=Psrides>
                <thead>
                    <tr>
                        <!-- <th scope="col">Driver</th> -->
                        <th scope="col">Traveller Name</th>
                        <th scope="col">Mobile Number</th>
                        <th scope="col">Pickup-Time </th>
                        <th scope="col">Pickup-Location</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in finishList">
                        <!-- <td>{{}}</td> -->
                        <td>{{item.travellerName}}</td>
                        <td>{{item.travellerMobile}}</td>
                        <td>{{item.pickUpDate}},{{item.pickUpTime}}</td>
                        <td>{{item.pickUpLocation}}</td>
                        <td ng-if="item.status == 0">Driver Not Available</td>
                        <td ng-if="item.status == 1">Ride Expired</td>
                        <td ng-if="item.status == 2">Ride Declined</td>
                        <td ng-if="item.status == 3">Ride Accepted</td>
                        <td ng-if="item.status == 4">Ride Started</td>
                        <td ng-if="item.status == 5">Ride Completed</td>
                        <td ng-if="item.status == 6">Declined</td>
                        <td ng-if="item.status == 7">Expired</td>
                        <td ng-if="item.status == 8">Finished</td>
                        <!-- <td data-table-header="Car Brand/Model">{{record.carDetailDtos[0].type.name}}/{{record.carDetailDtos[0].subType.name}}</td> -->
                        <td data-table-header="Action">
                            <button class=" btn btn-default btn-round" ng-click="getDetails(item,1)" data-toggle="modal" data-target="#exampleModal">View</button>
                        </td>
                    </tr>
                    <tr ng-show="NoDriverList">
                        <td colspan="5">
                            <center><img class="imgIco" src="assets/img/fuel.png" />
                                <h3>No member available to approve</h3>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- ---------------------------info------------------------------------------------------ -->
        <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ride Details -View</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label><h6>Company</h6></label>
                                <label>{{complteDetails.companyDetailDto.companyName}}</label>
                            </div>
                            <div class="col-md-3">
                                <label><h6>Travel Id:</h6></label>
                                <label>{{complteDetails.travelId}}</label>
                            </div>
                            <div class="col-md-3">
                                <label> <h6>Date:</h6></label>
                                <label>{{complteDetails.bookingDate}}</label>
                            </div>
                            <div class="col-md-3">
                                <label><h6>Time:</h6></label>
                                <label>{{complteDetails.bookingTime}}</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <h6>Traveller Details</h6>
                                <div class="col-md-3">
                                    <img class="img" src="assets/img/dummy.png" alt="img">
                                </div>
                                <div class="col-md-9 element">
                                    <label><h6>Name :</h6></label>
                                    <label>&nbsp;&nbsp;{{complteDetails.travelerDetailDto.firstName}}{{complteDetails.travelerDetailDto.lastName}}</label><br>
                                    <label><h6>Mobile Number :</h6></label>
                                    <label>&nbsp;&nbsp;{{complteDetails.travelerDetailDto.mobileNumber}}</label><br>
                                    <label><h6>Employee Id :</h6></label>
                                    <label>{{complteDetails.travelerDetailDto.employeeId}}</label><br>
                                </div>
                                <hr>
                                <label><h6>Vehicle segment/type :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.sysCarCategoryDto.name}}</label><br>
                                <label><h6>Travel Date :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.pickUpDate}}</label><br>
                                <label><h6>Pick-up city :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.pickUpCity}}</label><br>
                                <label><h6>Pick-up location :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.pickUpLocation}}</label><br>
                                <label><h6>pick-up address :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.pickUpAddress}}</label><br>
                            </div>
                            <div class="col-md-6">
                                <h6>Driver Details</h6>
                                <div class="col-md-3">
                                    <img class="img" src="assets/img/dummy.png" alt="img">
                                </div>
                                <div class="col-md-9 element2">
                                    <label><h6>Driver Name :</h6></label> 
                                    <label>&nbsp;&nbsp;{{firstName}}{{}}</label><br>
                                    <label><h6> Driver Mobile Number :</h6></label>
                                    <label>&nbsp;&nbsp;{{}}</label><br>
                                    <label><h6>Brand/modal :</h6></label>
                                    <label>&nbsp;&nbsp;{{complteDetails.sysCarCategoryDto.name}}</label><br>
                                </div>
                                <hr>
                                <label><h6>Type of request :</h6></label>
                                <label> &nbsp;&nbsp;{{complteDetails.sysBookingRequestTypeDto.name}}</label><br>
                                <label><h6>Pick-up Time :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.pickUpTime}}</label><br>
                                <label><h6>Release Time :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.dropTime}}</label><br>
                                <label><h6>Release location :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.releaseLocation}}</label><br>
                                <label><h6>Release address :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.releaseAddress}}</label><br>
                            </div>
                        </div>
                        <hr>
                        <div class="text-center" ng-show="view">
                            <label>Current Ride Status</label><br>
                            <button class="btn btn-defualt">
                                <h2>{{status}}</h2>
                            </button>
                        </div>
                        <div class="text-center" style="padding-top: 10px;" ng-show="feedback">
                            <button class="btn btn-defualt"  ng-click="viewTripDetails(complteDetails)" data-toggle="modal" data-target="#tripDetailsModel" >View Trip Details</button>
                            <button class="btn btn-defualt"  ng-click="viewFeedback(complteDetails)" data-toggle="modal" data-target="#feedbackModel" >View Feedback</button> 
                        </div>
                        <div class="text-center" ng-show="accept">
                            <label>Current Ride Status</label><br>
                            <button class="btn btn-success" ng-click="acceptRide(complteDetails)">
                                <h2 style="color: #fff;">Accept</h2>
                            </button>
                        </div>
                    </div>
                    <!-- <div class="modal-footer">
             
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> -->
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="exampleModal1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Reassign Trip</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h6>Traveller Details</h6>
                                <div class="col-md-3">
                                    <img class="img" src="assets/img/dummy.png" alt="img">
                                </div>
                                <div class="col-md-9 element">
                                    <label><h6>Name :</h6></label>
                                    <label>&nbsp;&nbsp;{{complteDetails.travelerDetailDto.firstName}}{{complteDetails.travelerDetailDto.lastName}}</label><br>
                                    <label><h6>Mobile Number :</h6></label>
                                    <label>&nbsp;&nbsp;{{complteDetails.travelerDetailDto.mobileNumber}}</label><br>
                                    <label><h6>Employee Id :</h6></label>
                                    <label>{{complteDetails.travelerDetailDto.employeeId}}</label><br>
                                </div>
                                <hr>
                                <label><h6>Vehicle segment/type :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.sysCarCategoryDto.name}}</label><br>
                                <label><h6>Travel Date :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.pickUpDate}}</label><br>
                                <label><h6>Pick-up city :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.pickUpCity}}</label><br>
                                <label><h6>Pick-up location :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.pickUpLocation}}</label><br>
                                <label><h6>pick-up address :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.pickUpAddress}}</label><br>
                            </div>
                            <div class="col-md-6">
                                <h6>Driver Details</h6>
                                <div class="col-md-3">
                                    <img class="img" src="assets/img/dummy.png" alt="img">
                                </div>
                                <div class="col-md-9 element2">
                                    <label> <h6>Driver Name :</h6> </label> 
                                    <label>&nbsp;&nbsp;{{firstName}}{{}}</label><br>
                                    <label><h6> Driver Mobile Number :</h6></label>
                                    <label>&nbsp;&nbsp;{{}}</label><br>
                                    <label><h6>Brand/modal :</h6></label>
                                    <label>&nbsp;&nbsp;{{complteDetails.sysCarCategoryDto.name}}</label><br>
                                </div>
                                <hr>
                                <label><h6>Type of request :</h6> </label>
                                <label> &nbsp;&nbsp;{{complteDetails.sysBookingRequestTypeDto.name}}</label><br>
                                <label> <h6>Pick-up Time :</h6> </label>
                                <label>&nbsp;&nbsp;{{complteDetails.pickUpTime}}</label><br>
                                <label><h6>Release Time :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.dropTime}}</label><br>
                                <label> <h6>Release location :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.releaseLocation}}</label><br>
                                <label><h6>Release address :</h6></label>
                                <label>&nbsp;&nbsp;{{complteDetails.releaseAddress}}</label><br>
                            </div>
                        </div>
                        <hr>
                        <div class="col-md-12 text-right">
                            <h4 class="mt-2 mb-2">Assign Ride</h4>
                            <ul style="right: 50%;display:inline-flex;">
                                <li>
                                    <label class="switch">
                                        <input type="checkbox" checked ng-model="online"
                                            ng-click="ToggleOnline(online)">
                                        <span class="slider round"></span>
                                    </label>
                                </li>
                                <li class="online-status myfont" ng-show="online">
                                    <span> Auto</span>
                                </li>
                                <li class="offline-status myfont" ng-show="!online">
                                    <span> Manual</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="from-group select col-sm-6" ng-show="!online">
                        <lable for="">Select a Driver</lable>
                        <input class="form-control txt-field " placeholder="Enter For Use" ng-model="driver"
                            uib-typeahead="company as company.name for company in getDriverList($viewValue)"
                            typeahead-loading="loadingLocations" typeahead-show-hint="false" typeahead-min-length="0"
                            typeahead-no-results="noResults" class="form-control" ng-focus=getDriverList()>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="col-sm-12" style="margin-top: 10px;position: relative;bottom: 15px;">
                        <center>
                            <button type="button" class="button btn-block"
                                ng-click="reAssignRide(complteDetails)">Assign Ride</button>
                        </center>
                    </div>
                    <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                         </div> -->
                </div>
            </div>
        </div>
        <!-- This model showing customer feedback -->
        <div class="modal" ng-show="feedbackModel" tabindex="-1" role="dialog" id="feedbackModel">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Customer Feedback</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <center>
                            <div class="stars" data-percent="{{ratings}}"></div>
                        </center>
                    </div> 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- This model showing trip details -->
        <div class="modal" ng-show="tripModel" tabindex="-1" role="dialog" id="tripDetailsModel">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Trip Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Trip Details</p>
                    </div> 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay"></div>
<script>
    /* ---------------Accordian arrow button rotate-------- */
    $('.d-accordion').on('show.bs.collapse', function (n) {
        $(n.target).siblings('.panel-heading').find('.panel-title i').toggleClass('fa-chevron-up fa-chevron-down ');
    });
    $('.d-accordion').on('hide.bs.collapse', function (n) {
        $(n.target).siblings('.panel-heading').find('.panel-title i').toggleClass('fa-chevron-down fa-chevron-up ');
    });
</script>
<script>
    var tableA = document.getElementById("upCrides");
    var tableB = document.getElementById("Psrides");

    var btnTabA = document.getElementById("upcomingList");
    var btnTabB = document.getElementById("pastList");

    btnTabA.onclick = function () {
        tableA.style.display = "table";
        tableB.style.display = "none";
    }
    btnTabB.onclick = function () {
        tableA.style.display = "none";
        tableB.style.display = "table";
    }
</script>